header
  .jumbotron.hidden-xs
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')=title
      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Home
          li
            a.dropdown-toggle(href='/speakers', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Speakers
              span.caret
                span
            ul.dropdown-menu
              li
                a(href='/speakers') All Speakers
              li.divider(role='separator')

              each speaker in speakerNames
                li
                  a(href=`/speakers/${speaker.shortname}`)=speaker.name
          li
            a(href='/feedback') Feedback